fastapi
uvicorn
python-dotenv
sqlalchemy
bcrypt>=4.0.0
pyjwt
pandas
pypdf
PyMuPDF
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-google-genai==0.0.11
langgraph
sentence-transformers
faiss-cpu
huggingface-hub
google-generativeai==0.4.1
xgboost
python-multipart
scikit-learn